/* transition: <property> <duration> <timing function> <delay> */
#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #80858d;
	// background-color: rgba(0,0,0,0);
	/* Determines the visibility of an element when it's back is turned. */
	@include backface-visibility(hidden);
	@include transition(border-width 0.3s, background-color 0.3s, height 0s 0.3s, z-index 0.3s);
	ul {
		position: fixed;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: block; // Do I need?
			visibility: hidden;
			opacity: 0;
			@include transition(transform 0.3s, opacity 0.2s, visibility 0s 0.3s);
			a {
				display: block;
				outline: none;
				text-decoration: none;
			}
		}
	}
	$hover-color: aquamarine;
	ul:first-of-type {
		top: 85px;
		left: -120px;
		li {
			// width: 120px;
			height: 50px;
			line-height: 50px;
			@include transform(translate3d(-100%,50%,0));
			a {
				padding: 0 20px;
				// box-shadow: inset 0 1px rgba(0,0,0,0.2);
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 1em;
				@include transition(color 0.2s);
			}
			a:hover {color: $hover-color;}
		}
		li:last-child {
			// a {box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);}
		}
	}
	ul:nth-of-type(2) {
		right: 0;
		bottom: 0;
		li {
			float: left;
			width: 60px;
			height: 50px;
			line-height: 50px;
			@include transform(scale(0));
			a {
				// color: transparent; // Do I need?
				text-align: center;
				font-size: 0px;
			} 
			a:before {
				color: #fff;
				font-size: 24px;
				@include transition(color 0.2s);
			}
			a:hover:before {color: $hover-color;}
		}
	}
	.trigger {
		$trigger-color: black;
		background: rgba(200,200,200,0.5);
		@include transition(background 0.3s);
		position: fixed;
		top: 20px;
		left: 20px;
		display: block;
		width: 80px;
		height: 50px;
		cursor: pointer;
		z-index: 5;
		span {
			position: absolute;
			top: 45%;
			left: 20%;
			display: block;
			width: 60%;
			height: 8%;
			background: $trigger-color;
			font-size: 0px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			// @include transition(background-color 0.3s);
		}
		span:before, span:after {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			background: $trigger-color;
			content: '';
			@include transition(transform 0.3s);
		}
		span:before {
			/* Adds the top menu bar */
			@include transform(translateY(-250%));	
		}
		span:after {
			/* Adds the bottom menu bar */
			@include transform(translateY(250%));
		}
	}
}
#menu.open {
	height: 100%;
	border-width: 0px 0px 50px 120px;
	// background-color: rgba(0,0,0,1);
	@include transition(border-width 0.3s, background-color 0.3s);
	ul {
		li {
			visibility: visible;
			opacity: 1;
			@include transition(transform 0.3s, opacity 0.3s 0.1s);
			z-index: 10;
		}
	}
	ul:first-of-type {
		left: 0;
		li {
			@include transform(translate3d(0,0,0));
		}
	}

	ul:nth-of-type(2) {
		li {
			@include transform(scale(1));
		}
		li:first-child {@include transition-delay(0.1s);}
		li:nth-child(2) {@include transition-delay(0.2s);}
		li:nth-child(3) {@include transition-delay(0.3s);}
		li:nth-child(4) {@include transition-delay(0.4s);}
	}
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		// z-index: 100;
	}
	.trigger {
		background: none;
		@include transition(background 0.3s);
		span:before {
			@include transform(translateY(-300%));
		}
		span:after {
			@include transform(translateY(300%));
		}
	}
}


