
@import "compass";
@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/flex";
@import "devicon/devicon";
@import "devicon/devicon.colors";

$blue: #0480ab;

html {
	font-size: 67%;
}
body {
	@extend %reset;
	@include rem(font-size, 1.6rem);
	font-family: "Helvetica";
	// background: url(../images/bg-tech-white.jpg);
	line-height: 1.4;
	color: lighten(black, 15%);
}
h1, h2, h3, h4, p, ul {
	@extend %reset;
	font-weight: normal;
}
ul {
	@include rem(padding-left, 1.6rem);
}
a {
	display: inline-block;
}
img {
	vertical-align: middle;
}
div {
	// padding: 5px;
	// border: 1px solid gray;
}
.group {padding: 5px;}
.region {padding: 5px;}
.block {padding: 5px;}
.content {padding: 5px;}
#top-bar {
	max-width: 1100px;
	margin: 0 auto;
	.region {
		@include flexbox;
		@include align-items(center);
	}
}
#page {
	max-width: 1100px;
	margin: 0 auto;
	// @media(min-width: 500px) {padding: 10px;}
	// @media(min-width: 800px) {padding: 40px;}
	background: darken(white, 3%);
	background: url(../images/pattern-paper.png);
	@include box-shadow(1px 1px 5px gray);
}
#header {
	.region {
		background-color: rgba(255,255,255,0.6);
		text-align: right;
	}
	.region:first-child {
		@include flex(1 1 0);
	}
	@media(min-width: 450px) {
		margin-left: 130px;
		.group {margin-top: 20px;}
		.region {text-align: left;}
	}
	// margin-left: 130px;
	height: 282px; // spans the height of the background image.
}
#photo {
	// padding: 0;
	// .block {padding: 0;}
	.content {
		// @include transform(rotate(5deg));
		padding: 0;		
		border: 10px solid darken(white, 2%);
		// @include border-radius(50%);
		@include box-shadow(0 1px 1px gray);

	}
}
#george {
	height: 200px;
}
#page {
	background: url(../images/computer-front.jpg) no-repeat, url(../images/header-bg.jpg) repeat-x;
	.group, #portfolio .block {
		// border-bottom: 1px solid lightgray;
	}
}
#main {
	> .group {
		.region {
			// border-bottom: 1px solid gray;
		}
		border-bottom: 1px solid lightgray;
	}
}
#portfolio .block:last-child {
	// border-bottom: none;
}
#footer {
	.group {
		@include flexbox;
		@include align-items(flex-end);
		@include flex-wrap(wrap);
	}
}
h1 {
	@include rem(font-size, 2.2rem);
	// text-transform: uppercase;
	letter-spacing: 1px;
	// font-family: "Georgia";
	color: $blue;
	// text-align: right;
}
h2 {
	@include rem(font-size, 1.2rem);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-style: italic; 
}
h3 {
	@include rem(font-size, 2rem);
	font-style: italic;
	font-family: "Georgia";
}
h4 {
	@include rem(font-size, 1.8rem);
	@include text-shadow(0 1px 0 gray);
	margin-top: 0.3rem;
}
$link: $blue;
a, a:link, a:visited {
	color: $link;
}
a:hover {
	color: lighten($link, 15%);
}
a:active {
	color: darken($link, 15%);
}
#technical {
	.region:last-child {
		.block {
			@include flexbox;
			@include flex-wrap(wrap);
			i {@include rem(font-size, 4rem);}
			i + p {display: none;}
		}
	}
}

@media(min-width: 600px) {
	.group {
		@include flexbox;
		.region:first-child {
			min-width: 130px;
		}
	}
	#header {
		.group {
			@include align-items(center);
		}
	}
}
@media(min-width: 800px) {
	#services {
		.region:last-child {
			@include flexbox;
		}
	}
}
@import "helpers/wireframe";
