/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);
@import url(http://fonts.googleapis.com/css?family=Syncopate:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300italic,300,400italic,500,500italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Days+One|Paytone+One);
/* /Fonts */
/* Libraries */
@import "compass";
@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/flex";
@import "helpers/normalize";
@import "devicon/devicon";
@import "devicon/devicon.colors";
/* /Libraries */

/* Menu */
// @import "menu/base";
@import "menu/icon";
@import "menu/style";


html {
	font-size: 67%;
	@include box-sizing(border-box);
	height: 100%;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	height: 100%;
	@extend %reset;
	@include rem(font-size, 1.6rem);
	font-family: "Titillium Web";
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, p, ul {
	@extend %reset;
	font-weight: 300;
}
ul {
	@include rem(padding-left, 1.6rem);
}
a {
	display: inline-block;
}
#page {
	height: 100%;
}
#header {
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	padding: 0 20%;
	.group {
		// background-image: url(../images/screen.png);
		// background-repeat: no-repeat;
		// padding: 30px;
		// height: 500px;
		// background-size: 100%;

	}
	.region {
		// min-height: 100%;
		.group {
			// position: relative;
			// top: 50%;
		}
	}
	// background-color: #ece7eb;
	// @include background-image(radial-gradient(1px 1px, lighten(black, 40%) 1px, lighten(black, 10%) 200px));
	// @include background-image(linear-gradient(lighten(black, 40%), lighten(black, 10%)));
	// background-image: url(../images/mac-320x480.jpg);
	// background-image: url(../images/mac-1920x1275.jpg);
	// background-image: url("../images/mac-768x1024.jpg");
	// @media(min-width: 360px) and (min-height: 640px) {background-image: url(../images/mac-360x640.jpg);}
	// @media(min-width: 760px) and (min-height: 1020px) {background-image: url(../images/mac-768x1024.jpg);}
	// @media(min-width: 1020px) and (min-height: 760px) {background-image: url(../images/mac-1024x768.jpg);}

	// background-position: left bottom;
	// background-position: 75% 100%;
	// background-position-x: 50%;
	// background-position-y: 0%;
	// background-repeat: no-repeat;
	// background-attachment: fixed;
	// background-size: 100%;
	height: 100%;
	// width: 100%;
	.region:first-of-type {
		// padding: 90px 20px;
	}
}
#language {
	// display: inline-block;
	// position: absolute;
	// bottom: 100px;
	// right: 20px;
}
.container {
		// padding: 20px 20px 20px 140px;

}
#web {
	font-family: 'Syncopate';
	// @include rem(font-size, 1rem);
	font-size: 1rem;
	font-weight: bold;
	// background: red
	line-height: 0.8;
	padding-left: 3px;

}
#dev {
	font-family: 'Syncopate';
	font-size: 1rem;
	// @include rem(font-size, 3rem);
	// background: green;
	// letter-spacing: 1px;
	line-height: 1;
}
#name {
	font-family: 'Ubuntu';
	font-size: 1rem;
	font-weight: 600;
	// letter-spacing: 1px;
	// @include rem(font-size, 3rem);
	line-height: 1.2;
	// background: purple;
}
#main {
	height: 100%;
	background: orange;
}
#about {min-height: 100%; background: darken(white, 5%);}
#projects {min-height: 100%; background: darken(white, 10%);}
#skills {min-height: 100%; background: darken(white, 15%);}
#contact {min-height: 100%; background: darken(white, 30%);}
#footer {
	min-height: 100%;
	background: darken(white, 35%);
}
#bigtext {
	// color: white;
	width: 240px;
	// min-width: 240px;
	// @media(min-height: 600px) {max-width: 250px;}
	@media(min-width: 800px) {width: 400px;}
	// @media(min-width: 1600px) and (min-height: 700px) {max-width: 380px;}
}
#menu.open + #page {
		// background-position: 30% 100%;
		// @include transition(background-position 1.3s);
	#header {
		// margin-left: 130px;
		// @include transition(margin-left 1.3s);

	}
	#bigtext {
		// color: white;
	}
}
#menu.close + #page {
		// background-position: 0% 100%;
		// @include transition(background-position 1.3s);
	#header {
		// margin-left: 0px;
		// @include transition(margin-left 1.3s);

	}
	#bigtext {
		// color: black;
	}
}
@import 'helpers/wireframe';
