/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);
/* /Fonts */

/* Libraries */
@import "compass";
@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/flex";
@import "devicon/devicon";
@import "devicon/devicon.colors";
/* /Libraries */

/* Variables */
$blue: #157ba2;
/* /Variables */

html {
	font-size: 67%;
	@include box-sizing(border-box);
    // -webkit-font-smoothing: antialiased;
    // text-rendering: optimizeLegibility;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html:lang(en) {
	#top-bar {.block.en {display: none;}}
}
html:lang(fr) {
	#top-bar {.block.fr {display: none;}}
}
body {
	@extend %reset;
	@include rem(font-size, 1.6rem);
	font-family: "Titillium Web";
	line-height: 1.4;
	// color: lighten(black, 15%);
	background: darken(white, 7%);
	background: url(../images/pattern-gray.png);
	/* Better Font Rendering =========== */
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, p, ul {
	@extend %reset;
	font-weight: 300;
}
ul {
	@include rem(padding-left, 1.6rem);
}
a {
	display: inline-block;
}
img {
	vertical-align: middle;
	max-width: 100%;
	width: 100%;
	height: auto;
}

/* Grid Padding */
.container {padding: 2px;}
.group {padding: 20px;}
.region {padding: 2px;}
.block {padding: 2px;}
.content {padding: 5px;}
/* /Grid Padding */

#doc {
	max-width: 900px;
	margin: 0 auto;
}
#top-bar {
	padding: 0;
	.group {padding: 5px;}
	.region {
		padding: 0;
		@include flexbox;
		@include align-items(center);
		@include justify-content(space-around);
	}
	.block {
		padding: 0;
	}
	.content {padding: 0;}
}
#page {
	background: darken(white, 0%);
	@include box-shadow(1px 1px 5px gray);
	// background: url(../images/pattern-paper.png);
}
#header {
	.group {padding: 0;}
	.region {
		margin-left: 80px;
	}
	.region:first-child { /* Name and Job Description */
		position: relative;
		@include flex(1 1 0);
		height: 250px;
		.block:first-child { /* Name */
			position: absolute;
			top: 80px;
			left: 50px;
		}
		.block:last-child { /* Job Description */
			position: absolute;
			bottom: 0;
		}
	}
	.region:last-child {
		display: none;
	}
	background: url(../images/computer-front.jpg) no-repeat bottom left, 
				url(../images/header-bg.jpg) repeat-x bottom;
}

/* Main */
#profile {}
#services {
	background: url(../images/pattern-zig.png) repeat-x top,
				url(../images/pattern-zig.png) repeat-x bottom;	
}
#technical {
	.region:last-child {
		.block {
			@include flexbox;
			@include flex-wrap(wrap);
			i {@include rem(font-size, 4rem);}
			i + p {display: none;}
		}
	}
}
#portfolio {}
#education {}
/* /Main */

#footer {
	.group {
		@include flexbox;
		@include align-items(flex-end);
		@include flex-wrap(wrap);
	}
}
h1 {
	@include rem(font-size, 1.8rem);
	@media(min-width: 360px) {
		@include rem(font-size, 2.4rem);
	}
	font-family: 'Helvetica Neue', 'Helvetica', 'Liberation Sans', sans-serif;
	letter-spacing: 1px;
	color: $blue;
	font-weight: bold;
}
h2 {
	@include rem(font-size, 1.8rem);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-style: italic; 
}
h3 {
	@include rem(font-size, 2rem);
	font-style: italic;
}
h4 {
	@include rem(font-size, 1.8rem);
	@include text-shadow(0 1px 0px white);
	font-weight: 600;
	margin-top: 0.3rem;
}

/* Page Links */
$link: $blue;
#page {
	a, a:link, a:visited {
		color: $link;
	}
	a:hover {
		color: lighten($link, 15%);
	}
	a:active {
		color: darken($link, 15%);
	}
}
/* /Links */

@media(min-width: 600px) {
	.group {
		@include flexbox;
		.region:first-child {
			min-width: 130px;
		}
	}
	#header {
		.group {
			@include align-items(center);
		}
	}
}
@media(min-width: 800px) {
	#services {
		.region:last-child {
			@include flexbox;
			.block {
				@include flex(1 0 0);
			}
		}
	}
}
@media print {
	#top-bar {display: none;}
}
@import "buttons/btn-1";

// @import "helpers/wireframe";

