.container 				{background: rgba(255,255,255,0.8);}
.group 					{background: rgba(200,200,200,0.8);}
.region 				{background: rgba(160,160,160,0.8);}
.block 					{background: rgba(230,230,230,0.8);}
.content 				{background: rgba(200,200,200,0.8);}
h1, h2, h3, h4, p, li 	{background: rgba(245,245,245,0.8);}
a 						{background: rgba(255,255,255,0.8);}

